# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution
*.egg-info/
build/
dist/

# Temporary files
pip_tmp/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store